
<%= form_with(model: @mytweet, local: true ,url: choose_new_or_edit) do |form| %>
<% if @mytweet.errors.any? %>
   <div id="error_explanation">
     <h2><%= @mytweet.errors.count %>件のエラーがあります。</h2>
     <ul>
     <% @mytweet.errors.full_messages.each do |msg| %>
       <li><%= msg %></li>
     <% end %>
     </ul>
   </div>
 <% end %>
  <div class="mytweet_content">
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>
  <%= form.submit %>
<% end %>
<%= link_to "tweet一覧画面にもどる", mytweets_path %>
