<!DOCTYPE html>
<html>
  <head>
    <title>TwitterCloneExam</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div><%= link_to 'Mytweets', mytweets_path %></div>
    </header>
    <div class="wrapper">
      <div class="container">
       <%= yield %>
      </div>
    <footer>
    <small>Mytweet app</small>
    </footer>
  </div
  </body>
</html>
