<!DOCTYPE html>
<html>
  <head>
    <title>TwitterCloneExam</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div>
       <ul class="top_menu clearfix">
          <li>
            <%= link_to 'All Mytwees', mytweets_path %>
          </li>
          <li>
            <%= link_to '新規tweet', new_mytweet_path %>
          </li>
       </ul>
      </div>
    </header>
    <div class="wrapper">
      <div class="container">
       <%= yield %>
      </div>
    <footer>
    <p>Mytweet app</p>
    </footer>
  </div
  </body>
</html>
